version: "3.9"

services:
  web:
    build: .
    container_name: flask_app
    ports:
      - "9000:9000"
    volumes:
      - ./backend/Media:/app/backend/Media
      - ./frontend:/app/frontend
    restart: always
